body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7fc0eb !important;
}

.table-wrapper {
    margin: 20px;
    height: 95%;
    width: 100%;
	background: #c2ddef;
	margin-bottom: 25px;
}

.title {
    color: white;
    font-family: Helvetica;
}

.wrapper {
    border-radius: 20%;
    background-color: #4da8e4;
}

.icon {
    height: 30px;
    width: auto;
    border: 5px solid #3985e0;
}

.table-text {
    font-family: Helvetica;
    text-align: center;
    color: black;
}