body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7fc0eb !important;
}

.title {
    color: white;
    font-family: Helvetica;
}

.wrapper {
    border-radius: 20%;
    background-color: #4da8e4;
}

.icon {
    height: 120px;
    width: auto;
    border: 5px solid #3985e0;
}

.grid-container {
    width:80%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-auto-columns: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.grid-item {
    background-color: #5090de;
    border: 3px solid #3985e0;
    padding: 5px;
    font-size: 15px;
    text-align: center;
}