{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/highscores.css">
<div class="container-fluid">
        <div class="d-flex justify-content-center mx-5">
            <h3 class="title">Highscores for {{ champ["name"] }}:</h3>
        </div>
        <div class="d-flex justify-content-center mx-5">
            <table id="dataTable" class="table table-bordered" height="200px"width="auto" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Profile Icon</th>
                        <th scope="col">Summoner Name</th>
                        <th scope="col">Mastery Points</th>
                        <th scope="col">Server</th>
                    </tr>
                </thead>
                <tbody>
                    {% for champ in mdata %}
                    <tr>
                        <td><img style="height:60px;width:auto;border-radius:40%;" src="http://ddragon.leagueoflegends.com/cdn/img/champion/tiles/{{ champ['codeName'] }}_0.jpg"></td>
                        <td><p class="table-text">{{ champ["name"] }}</p></td>
                        <td><img style="height:60px;width:auto;" src="https://raw.githubusercontent.com/RiotAPI/Riot-Games-API-Developer-Assets/master/champion-mastery-icons/mastery-{{ champ['championLevel']}}.png"></td>
                        <td><p class="table-text">{{ champ["championPoints"] }}</p></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                scrollY: "650px",
                scrollCollapse: true,
                paging: false,
                searching: false,
                info: false
            });
        });
    </script>    
{% endblock %}