{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/highscores.css">
<div class="container-fluid">
        <div class="d-flex justify-content-center mx-5">
            <h3 class="title">Highscores for {{ champ["name"] }}:</h3>
        </div>
        <div class="d-flex justify-content-center mx-5">
            <div class="table-wrapper">
                <table id="dataTable" class="table table-bordered" height="200px"width="auto" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">Profile Icon</th>
                            <th scope="col">Summoner Name</th>
                            <th scope="col">Mastery Points</th>
                            <th scope="col">Server</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in hs_data %}
                        <tr>
                            <td><img style="height:80px;width:auto;" src="http://ddragon.leagueoflegends.com/cdn/9.23.1/img/profileicon/{{ player['icon'] }}.png"></td>
                            <td><p class="table-text">{{ player["name"] }}</p></td>
                            <td><p class="table-text">{{ player["points"] }}</p></td>
                            <td><p class="table-text">{{ player["server"] }}</p></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                scrollY: "650px",
                scrollCollapse: true,
                paging: false,
                searching: false,
                info: false
            });
        });
    </script>    
{% endblock %}