{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/landing.css">
<div class="d-flex p-2 justify-content-center mt-5">
    <img class=logo src="../static/logo/leaguelogo.png" height="128" width="384">
</div>
<div class="d-flex p-2 justify-content-center mt-5">
    <div class="h-100">
        <form class="form-inline" method="POST" action="/index">
            {{ form.hidden_tag() }}
            <div class="searchbar">
                {{ form.summoner(class="search_input mr-2", placeholder="Search...") }}
                {{ form.region(class="region_select mr-2") }}
                <button type=sumbit class="search_icon"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}